<% set_meta_tags title: "search" %>
<div class="wrapp" id="search_box">
  <div class="container mt-5 ">
    <div class="pt-5">
      <ul class="nav nav-tabs mt-5" id="mytab" role="tablist">
        <li class="nav-item">
          <button class="nav-link active" id="evaluation-order-tab" data-bs-toggle="tab" data-bs-target="#evaluation-order" type="button" role="tab" aria-controls="evaluation-order" aria-selected="true">
            評価順
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="rate5-tab" data-bs-toggle="tab" data-bs-target="#rate5" type="button" role="tab" aria-controls="rate5" aria-selected="false">
            星5のドラマ
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="taller-than4-tab" data-bs-toggle="tab" data-bs-target="#taller-than4" type="button" role="tab" aria-controls="taller-than4" aria-selected="false">
            星4以上のドラマ
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="evaluation-order" role="tabpanel" aria-labelledy="evaluation-order-tab">
        <%= render "shared/k_doramas/evaluation_order", k_doramas: @k_doramas_rate %>
      </div>
      <div class="tab-pane fade" id="rate5" role="tabpanel" aria-labelledy="rate5-tab">
        <%= render "shared/k_doramas/rate5", k_doramas: @rate5 %>
      </div>
      <div class="tab-pane fade" id="taller-than4" role="tabpanel" aria-labelledy="taller-than4-tab">
        <%= render "shared/k_doramas/taller_than4", k_doramas: @taller_than4 %>
      </div>
    </div>
  </div>
</div>
