// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reply-none{
  display: none;
}

.destroy_btn{
  display: block;
  margin-top: 1rem;
  text-align: right;
}
