// Place all the styles related to the k_doramas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.genre_box {
  height: 330px;
}

.genre_box img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.about_text {
  font-size: 1.2rem;
}

.card_box{
  height: 530px !important;
}

@media screen and(max-width:576px) {
  .card_box {
    height: 600px !important;
  }
  .card-text {
    height: 150px;
    overflow: auto;
  }
}

.card-body a {
  position: absolute;
  bottom: 10px;
}

.card-img{
  height: 270px;
  object-fit: cover;
}

#search_box{
  background-color: #ffd4b1;
}

.k_show_box {
  margin-top: 5rem !important;
}

.k-nav-color{
  background-color: #ffd4b1 !important;
}

.sns_share{
  max-width: 400px;
}

.sns-btn{
  width: 25%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.line {
  background-color: #00B900;
  color: white;
}

.hide {
  display: none;
}
