.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #FF0000;
  margin-left: 20px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #C0C0C0;
  margin-left: 20px;
}

.like_link{
  text-decoration: none;
}
