// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#star img{
  width: auto;
}

.r-nav-color {
  background-color: #84C98B !important;
}

.review_box {
  padding: 10px 0px 0px 10px;
}

.review_box p{
  margin: 0;
}

.avatar_review {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid #aaa;
}

.avatar_review img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review_name {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.review_time{
  font-size: 10px;
}

.review_star img{
  height: 15px;
}

.review_impression {
  margin-top: 1rem;
  font-size: 15px;
}

.review_comments {
  text-decoration: none;
  margin-left: 1rem;
  padding-top: 4px;
}

.reply_btn:hover {
  cursor: pointer;
}

.avatar_comment{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #aaa;
}

.avatar_comment img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reply_btn{
  border: none;
  background: transparent;
}

.back_impression_index{
  display: block;
  margin: 2rem 0 2rem 0;
}

.show_review_wrapp{
  border-top: 3px solid #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
}
