// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#session_box{
  background-color: #e7e7e7;
}

#user_box{
  background-color: #ABE1FA;
}

.edit_btn{
  background-color:#72C6EF !important;
  color: white !important;
}

.sigup-nav-color {
  background-color: #6495ED !important;
}
